@font-face {
  font-family: panthera;
  src: url("../assets/fonts/panthera.otf") format("opentype");
}

@font-face {
  font-family: beyno;
  src: url("../assets/fonts/BEYNO.otf") format("opentype");
}

@font-face {
  font-family: wakanda;
  src: url("../assets/fonts/WakandaForever-Regular.ttf") format("truetype");
}

@font-face {
  font-family: cantarell;
  src: url("../assets/fonts/Cantarell-Regular.ttf") format("truetype");
}

@import "./reset.scss";
@import "./colors.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: $low-pink;
  color: $deep-blue;
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $low-pink;
  border-radius: 1rem;
}

body {
  background-image: url("../assets/Illustrations+Logo/All-pages/arrière_plan.png");
}

/*Styles partie en-tête*/

header {
  background-image: url("../assets/Illustrations+Logo/All-pages/arrière_plan.png");
  top: 0;
  z-index: 1000;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  nav.h-nav ul {
    display: flex;
    justify-content: space-between;
    li {
      padding: 0.4rem 0.4rem;
      margin: 0 0.4rem;
    }
    li a {
      text-decoration: none;
      font-family: beyno;
      color: $white;
      font-size: 16px;
      &:hover {
        color: $low-pink;
        transition: color 0.3s ease-out;
        text-decoration: underline;
      }
    }
    li a#wakanda {
      color: $low-pink;
      text-decoration: underline;
    }
  }
}

main {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section.w-1 {
  padding: 0;
  width: 100%;
  height: 110vh;
  background-image: url("../assets/Illustrations+Logo/Wakanda/Pantherwakanda1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  div.w1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    transform: translate(35%, 120%);
    h2 {
      font-size: 43px;
      font-family: beyno;
      color: $low-pink;
      font-weight: 400;
      margin-bottom: 10px;
    }
    h2.text-enigme {
      font-family: wakanda;
      font-size: 39px;
      font-weight: normal;
      width: 390px;
      text-align: justify;
      margin-bottom: 20px;
    }
    p {
      color: $white;
      font-size: 12px;
      font-family: cantarell;
      width: 390px;
      text-align: justify;
    }
  }
}

section.w-2 {
  padding: 30px 0;
  width: 100%;
  //   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  background-image: url("../assets/Illustrations+Logo/Wakanda/Pantherwakanda2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0.7);
  article.w2-l {
    width: 46%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    font-family: cantarell;
    font-size: 12px;
    margin-right: 20px;
    div.w2-d {
      margin: 20px 0;
    }
    h2 {
      font-family: beyno;
      font-size: 22px;
      font-weight: normal;
      color: $low-pink;
      margin: 20px 0;
    }
    p {
      width: 100%;
      margin: 30px 0;
      text-align: justify;
      a#link {
        color: $white;
        text-decoration: none;
        margin: auto;
        text-align: center;
        &:hover {
          text-decoration: underline;
          color: $low-pink;
          opacity: 0.7;
          transition: all 0.5s ease-out;
        }
      }
    }
    div.d-link {
      padding-left: 70px;
      padding-top: 30px;
      background-color: $purple;
      height: 250px;
    }
  }
  article.w2-r {
    height: fit-content;
    margin-left: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    font-family: cantarell;
    font-size: 12px;
    div.w2-d {
      margin: 20px 0;
    }
    h2 {
      font-family: beyno;
      font-size: 22px;
      font-weight: normal;
      color: $low-pink;
      margin: 20px 0;
    }
    p {
      width: 100%;
      margin: 30px 0;
      text-align: justify;
    }
    img {
      width: 90%;
    }
  }
}

footer {
  width: 100%;
  background-image: url("../assets/Illustrations+Logo/All-pages/back_footer.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  div.f-container {
    color: $white;
    font-family: cantarell;
    font-size: 14px;
    width: 70%;
    margin: auto;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 22px;
      letter-spacing: 28%;
      margin-bottom: 2rem;
    }
    article.f-left {
      width: 30%;
      div.f-logo {
        width: 80%;
        background-image: url("../assets/Illustrations+Logo/All-pages/footer1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42vh;
      }
    }
    article.f-right {
      width: 65%;
      div.f-right-top {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        div.pages {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div.link {
            margin: 10px 0;
            a {
              color: $white;
              text-decoration: none;
              text-transform: capitalize;
              span {
                margin-right: 2px;
              }
            }
          }
        }
        div.retrouvez-nous {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          div.img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
          }
        }
      }
      div.f-r-bottom {
        display: flex;
        align-items: center;
        p {
          span {
            background-color: $pink;
            color: $pink;
            font-size: 8px;
            border-radius: 100%;
            padding: 1px;
            margin: 0 4px;
          }
        }
      }
    }
  }
}
