@charset "UTF-8";
@font-face {
  font-family: panthera;
  src: url("../assets/fonts/panthera.otf") format("opentype");
}
@font-face {
  font-family: beyno;
  src: url("../assets/fonts/BEYNO.otf") format("opentype");
}
@font-face {
  font-family: wakanda;
  src: url("../assets/fonts/WakandaForever-Regular.ttf") format("truetype");
}
@font-face {
  font-family: cantarell;
  src: url("../assets/fonts/Cantarell-Regular.ttf") format("truetype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Animation fade in avec slide */
.fade-in-slide {
  opacity: 0;
  transform: translateX(-30%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-slide.visible {
  opacity: 1;
  transform: translateX(0);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*::selection {
  background-color: #9e91b7;
  color: #021740;
}

*::-webkit-scrollbar {
  height: 0.2rem;
  width: 0.3rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #9e91b7;
  border-radius: 1rem;
}

body {
  background-image: url("../assets/Illustrations+Logo/All-pages/arrière_plan.png");
}

/*Styles partie en-tête*/
header {
  background-image: url("../assets/Illustrations+Logo/All-pages/arrière_plan.png");
  top: 0;
  z-index: 1000;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}
header nav.h-nav ul {
  display: flex;
  justify-content: space-between;
}
header nav.h-nav ul li {
  padding: 0.4rem 0.4rem;
  margin: 0 0.4rem;
}
header nav.h-nav ul li a {
  text-decoration: none;
  font-family: beyno;
  color: #ffffff;
  font-size: 16px;
}
header nav.h-nav ul li a:hover {
  color: #9e91b7;
  transition: color 0.3s ease-out;
  text-decoration: underline;
}
header nav.h-nav ul li a#wakanda {
  color: #9e91b7;
  text-decoration: underline;
}

main {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#floating-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0; /* Assure que le conteneur est aligné à gauche */
  transform: translate(50%, -30%);
  z-index: 10000;
  margin: 0 0 0 20px;
}

.purple-stripes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trait {
  width: 2px;
  background-color: #9e91b7;
  position: absolute;
}

#trait-1 {
  height: 75vh;
  top: 0;
  left: 0; /* Positionne le trait à gauche */
}

#trait-2 {
  height: 55vh;
  top: 0;
  left: 20px; /* Ajuste la position du second trait */
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.social-icons a {
  display: block;
  margin: 5px 0;
}

.social-icons img {
  margin: 5px 0;
}

section.w-1 {
  padding: 0;
  width: 100%;
  height: 110vh;
  background-image: url("../assets/Illustrations+Logo/Wakanda/Pantherwakanda1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}
section.w-1 div.w1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  transform: translate(35%, 120%);
}
section.w-1 div.w1-left h2 {
  font-size: 43px;
  font-family: beyno;
  color: #9e91b7;
  font-weight: 400;
  margin-bottom: 10px;
}
section.w-1 div.w1-left h2.text-enigme {
  font-family: wakanda;
  font-size: 39px;
  font-weight: normal;
  width: 390px;
  text-align: justify;
  margin-bottom: 20px;
}
section.w-1 div.w1-left p {
  color: #ffffff;
  font-size: 12px;
  font-family: cantarell;
  width: 390px;
  text-align: justify;
}

section.w-2 {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  background-image: url("../assets/Illustrations+Logo/Wakanda/Pantherwakanda2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0.7);
}
section.w-2 article.w2-l {
  width: 46%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: cantarell;
  font-size: 12px;
  margin-right: 20px;
}
section.w-2 article.w2-l div.w2-d {
  margin: 20px 0;
}
section.w-2 article.w2-l h2 {
  font-family: beyno;
  font-size: 22px;
  font-weight: normal;
  color: #9e91b7;
  margin: 20px 0;
}
section.w-2 article.w2-l p {
  width: 100%;
  margin: 30px 0;
  text-align: justify;
}
section.w-2 article.w2-l p a#link {
  color: #ffffff;
  text-decoration: none;
  margin: auto;
  text-align: center;
}
section.w-2 article.w2-l p a#link:hover {
  text-decoration: underline;
  color: #9e91b7;
  opacity: 0.7;
  transition: all 0.5s ease-out;
}
section.w-2 article.w2-l div.d-link {
  padding-left: 70px;
  padding-top: 30px;
  background-color: #3d2da6;
  height: 250px;
}
section.w-2 article.w2-r {
  height: fit-content;
  margin-left: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: cantarell;
  font-size: 12px;
}
section.w-2 article.w2-r div.w2-d {
  margin: 20px 0;
}
section.w-2 article.w2-r h2 {
  font-family: beyno;
  font-size: 22px;
  font-weight: normal;
  color: #9e91b7;
  margin: 20px 0;
}
section.w-2 article.w2-r p {
  width: 100%;
  margin: 30px 0;
  text-align: justify;
}
section.w-2 article.w2-r img {
  width: 90%;
}

footer {
  width: 100%;
  background-image: url("../assets/Illustrations+Logo/All-pages/back_footer.png");
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
}
footer div.f-container {
  color: #ffffff;
  font-family: cantarell;
  font-size: 14px;
  width: 70%;
  margin: auto;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.f-container h3 {
  font-size: 22px;
  letter-spacing: 28%;
  margin-bottom: 2rem;
}
footer div.f-container article.f-left {
  width: 30%;
}
footer div.f-container article.f-left div.f-logo {
  width: 80%;
  background-image: url("../assets/Illustrations+Logo/All-pages/footer1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42vh;
}
footer div.f-container article.f-right {
  width: 65%;
}
footer div.f-container article.f-right div.f-right-top {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
footer div.f-container article.f-right div.f-right-top div.pages {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div.f-container article.f-right div.f-right-top div.pages div.link {
  margin: 10px 0;
}
footer div.f-container article.f-right div.f-right-top div.pages div.link a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
footer div.f-container article.f-right div.f-right-top div.pages div.link a span {
  margin-right: 2px;
}
footer div.f-container article.f-right div.f-right-top div.retrouvez-nous {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div.f-container article.f-right div.f-right-top div.retrouvez-nous div.img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
footer div.f-container article.f-right div.f-r-bottom {
  display: flex;
  align-items: center;
}
footer div.f-container article.f-right div.f-r-bottom p span {
  background-color: #f2cef2;
  color: #f2cef2;
  font-size: 8px;
  border-radius: 100%;
  padding: 1px;
  margin: 0 4px;
}
/* Ajoutez ces styles dans votre CSS */
#floating-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons a {
  margin: 1rem;
  /* Ajoutez les styles pour vos icônes ici */
}

.purple-stripes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-stripes .stripe {
  width: 100%;
  height: 5px;
  background-color: violet;
  margin: 0.5rem 0;
  /* Position initiale hors de l'écran */
  transform: translateY(-100%);
}

/* Animation pour les traits violets */
@keyframes stripe-slide {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=index.css.map */


/*# sourceMappingURL=wakanda.css.map */
